/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


@font-face {
  font-family: 'Menseal';
  src: url('/font/menseal/Menseal-Regular.ttf');
}


 .heroBanner {
  /* padding: 4rem 0; */
  text-align: center;
  position: relative;
  overflow: clip;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("/img/bg.webp");
  display: flex;
  align-items: center;
}



.heroContent {
  position: relative;
  z-index: 2;
  color: white;
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background: linear-gradient(97.15deg, #7857FF 2.94%, #572EFF 37.06%, #5024FF 78.64%, #7857FF 109.56%);
  border-radius: 60px;
  color: white;
  padding: 20px 32px;
  font-weight:300;
  cursor: pointer;
  /* margin: 50px; */
}